@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    background: #1A1C26;
    display: flex;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 125px;
    justify-content: space-around;
    align-items: center;
    padding: 16.5px 0;
    background: #272932;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    padding: 20px 35px;
    transition: 0.3s;
    color: #8F8F8F;
}

.menu a:hover {
    background: #1D1F28;
}

.main {
    margin-left: 150px;
    height: 100vh;
}

.main__lessons {
    margin-left: 150px;
    height: 100vh;
    margin-top: 60px;
}

.blocks {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.block {
    margin: 10px 10px;
}

.lessons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.lsn {
    margin: 10px 10px;
}

.lsn a img {
    border-radius: 12px;
    transition: 0.3s;
}

.lsn a img:hover {
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.lsn:nth-child(0) {
    margin: 0 0 0 10px;
}

.title {
    font-size: 44px;
    color: wheat;
    margin-bottom: 30px;
}